
<div id="container">
  <app-map id="map" [overlays]="overlays"></app-map>
  <div id="navArea">
    <!-- <a>Input Data</a> -->
    <button type="button" id="buttonPoint">addPoints</button>
    <button type="button" id="buttonLine">addLine</button>
    <button type="button" id="buttonPol">addPol</button>    
    
    
  </div>
<div>
  <button type="button" id="pointlinecompare">point-line</button>
  <button type="button" id="pointPolygonCompare">point-Polygon</button> 
</div>
  <div id="Output">

</div>